body {
    background-color: #1f5c21; /* 背景色 */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw; /* 背景の幅を2倍に */
    height: 100vh;
    background: radial-gradient(circle, rgba(202, 190, 190, 0.1), transparent);
    z-index: -1;
    animation: moveBackground 20s linear infinite; /* アニメーションの期間を長くする */
}

@keyframes moveBackground {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* -50%に変更 */
}
